body {
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  color: purple;
}

h2 {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* ************ */
.recentScore {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recentTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.recentList {
  border: 1px solid #ccc;
  box-shadow: 5px 10px 8px #ccc;
}

.recentList > p {
  padding: 2px 0 2px 15px;
  margin: 0;
}

.recentList > p:nth-child(even) { background-color: #ccc; }
.recentList > p:nth-child(odd) { background-color: #fff; }

/* ************ */

.addScore {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.addScore > input {
  border: 1px solid #ccc;
  box-shadow: 5px 10px 8px #ccc;
  border-radius: 10px;
}
